body {
    font-family: 'Amethysta', serif;
}

h2 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h2:before,
h2:after {
    content: '';
    border-top: 2px solid;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}

h2:after {
    margin: 0 0 0 20px;
}

.navbar {
    background-color: white;
}

.jumbotron {
    height: 89vh;
    width: 100%;
    background: url(../images/jumbotron.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: left;
    position: relative;
    margin-top: 70px;
    padding: 0;
}

.services {
    width: 100%;
    background: url(../images/contact.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: grayscale(100%);
}

.services-icon {
    font-size: 3.5rem;
}

.services-title {
    font-weight: 700;
    font-size: 20px;
}

.card {
    background-color: #fdfdfd;
    width: auto;
    margin: 5px 0;
    padding: 15px;
    opacity: 0.8;
    transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}

@media screen and (max-width: 960px){
    .card {
        opacity: 1;
    }
}

@media screen and (max-width: 770px){
    .card {
        height: auto;
    }
}

.card:hover {
    opacity: 1;
}

.card-title {
    font-size: 1.25em;
    font-weight: bold;
}

.card-text {
    font-size: 1.07em;
}

.partners {
    background: #d9d9d9;
}

.partner-logo-lg {
    height: 120px;
    width: auto;
}

.anchor { 
        display: block;
        position: relative;
        top: -84px;
        visibility: hidden;
    }